.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    
    
   
}

h1 {
    color: white;
    font-size: 4rem;
}
.input {
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    width: 300px;
    border: 2px solid grey;
    margin: 10px;
    
    
 
    
    
}



button {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5 ease;
    

}

ol {
    padding: 0;
    
    
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}




span {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
   
    
    flex:1;
}



.add-btn {
    background-color: hsl(162, 100%, 40%);
    color: white;
    
}

.add-btn:hover {
    background-color: hsl(162, 100%, 50%);
}

.add-btn:active {
    background-color: hsl(162, 100%, 10%);
}


.delete-btn {
    margin-left: 15px;
    color: white;
}

button {
    background-color: hsl(0, 97%, 60%);
}

button:hover {
    background-color: hsl(0, 97%, 50%);
}

button:active {
    background-color: hsl(0, 97%, 40%);
}

